
:root {
	/* colour names from: https://www.color-name.com/ */
	/* or https://colors.artyclick.com/color-name-finder/ */
	/* or https://chir.ag/projects/name-that-color/ */
	/* or https://colornamer.robertcooper.me/ */
	--AlienArmpit: #7BDF00;
	--Black: #000000;
	--Boulder: #767676;
	--Bouquet: #AA7594;
	--Cascara: #F04735;
	--CodGrey: #1A1A1A;
	--Concrete: #F2F2F2;
	--EerieBlack: #1c1c1c;
	--Eggshell: #F0E7D5;
	--Flavescent: #FFEB9B;
	--HeavyMetal: #181918;
	--Lead: #202020;
	--Maroon: #770000;
	--Nero: #252525;
	--OffBlack: #313131;
	--Onyx: #101010;
	--Saffron: #FBBA37;
	--Silver: #CCCCCC;
	--Sooty: #141414;
	--TangerineYellow: #FFCC00;
	--UltramarineBlue: #2955FF;
	--Violet: #8408EF;
	--WhitecapFoam: #DEE3DE;
	--Wolfram: #B6B6B6;
}