---
---

@import "{{ site.theme }}";

.wrapper {
	max-width: 800px;
}
section {
	max-width: 800px;
}
h1 {
	margin-top: 10px;
}
h2 {
	margin-top: 8px;
}
h3 {
	margin-top: 6px;
}
h4 {
	margin-top: 4px;
}
h5 {
	margin-top: 2px;
}