---
---

@import "{{ site.theme }}";

.wrapper {
	max-width: 850px;
}
section {
	max-width: 850px;
}
h1,h2,h3 {
	line-height: 2.0em;
	color: #F2F2F2;
}
h4,h5 {
	line-height: 1.7em;
}
h6 {
	line-height: 1.4em;
}
h3 {
	color: #CCCCCC;
}
summary {
	cursor: pointer;
	color: #FFCC00;
}
summary:hover {
	cursor: pointer;
	color: #FFEB9B;
}
section #title .credits.right {
	text-align: right;
}
code{
    padding: 0px;
    border-radius: 0px;
}
.featTableColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
	margin: 1px;
	width: 850px;
	font-size: 0.9em;
	margin-top: 1px;
	margin-bottom: 1px;
}
.featTableRow,.featTableRowHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
	height: 49px;
	margin: 2px;
	background-color: #141414;
	border: 1px solid black;
}
.featTableRowHeader {
	border-bottom: 4px ridge black;
	font-size: 1.1em;
}
.featTableRow:hover {
	border: 1px solid #FFEB9B;
	background-color: #000000;
}
.featTableIcon1,.featTableIcon2,.featTableIcon3,.featTableIcon4,.featTableIcon5,.featTableChampion,.featTableSource,.featTableDate {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 234px;
	height: 100%;
	margin: 0px;
}
.featTableChampion {
	border-right: 1px solid black;
	background-color: #1c1c1c;
}
.featTableSource,.featTableChampion,.featTableDate {
	width: 100px;
}
.featTableDate {
	justify-content: flex-end;
	border-left: 1px solid black;
	background-color: #1c1c1c;
}
.featTableEffect {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 310px;
	height: 100%;
	margin: 0px;
	background-color: #1c1c1c;
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.featTableIcon1 img,.featTableIcon2 img,.featTableIcon3 img,.featTableIcon4 img,.featTableIcon5 img {
	margin: 5px;
	width: 40px;
	height: 40px;
	object-fit: contain;
}
.featTableIcon1 img {
	border: 1px solid #DEE3DE;
}
.featTableIcon2 img {
	border: 1px solid #7BDF00;
}
.featTableIcon3 img {
	border: 1px solid #2955FF;
}
.featTableIcon4 img {
	border: 1px solid #8408EF;
}
.featTableIcon5 img {
	border: 1px solid #FBBA37;
}
.skinTableColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
	margin: 1px;
	width: 850px;
	font-size: 0.9em;
	margin-top: 1px;
	margin-bottom: 1px;
}
.skinTableRow,.skinTableRowHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
	height: 89px;
	margin: 2px;
	background-color: #141414;
	border: 1px solid black;
}
.skinTableRowHeader {
	border-bottom: 4px ridge black;
	font-size: 1.1em;
}
.skinTableRow:hover {
	border: 1px solid #FFEB9B;
	background-color: #000000;
}
.skinTableIcon {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 325px;
	height: 100%;
	margin: 0px;
	font-size: 1.1em;
}
.skinTableIcon img {
	margin: 5px;
	width: 85px;
	height: 80px;
	object-fit: contain;
}
.skinTableSource {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 350px;
	height: 100%;
	margin: 0px;
	background-color: #1c1c1c;
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.skinTableCost,.skinTableDate {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 65px;
	height: 100%;
}
.skinTableDate {
	background-color: #1c1c1c;
	border-left: 1px solid black;
	width: 105px;
}
.abilityBorder {
	background-color: #1a1a1a;
	border: 1px solid black;
	max-width: 848px;
	min-width: 348px;
	margin: 4px;
	margin-bottom: 20px;
}
.abilityBorderInner {
	width: 100%;
	margin: 5px;
}
.abilityBorderInner blockquote {
	padding: 0 20px 0 20px;
}
.abilityBorder pre {
	width: 798px;
	margin: 5px;
	padding-right: 5px;
	box-shadow: none;
	border: 1px solid black;
	border-radius: 0px;
	background-color: #202020;
}
.itemTableColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
	margin: 1px;
	width: 850px;
	font-size: 0.9em;
	margin-top: 1px;
	margin-bottom: 1px;
}
.itemTableRow,.itemTableRowHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
	height: 70px;
	margin: 2px;
	background-color: #141414;
	border: 1px solid black;
}
.itemTableRowHeader {
	border-bottom: 4px ridge black;
	font-size: 1.1em;
	height: 44px;
}
.itemTableRow:hover {
	border: 1px solid #FFEB9B;
	background-color: #000000;
}
.itemTableIcon {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 280px;
	height: 100%;
	margin: 2px;
	font-size: 1.1em;
}
.itemTableIcon img {
	margin: 5px;
}
.itemTableSlot {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45px;
	height: 100%;
	background-color: #1c1c1c;
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.itemTableName,.itemTableType,.itemTableNameSmall,.itemTableEffect {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
}
.itemTableName,.itemTableNameSmall {
	width: 190px;
}
.itemTableNameSmall {
	background-color: #1c1c1c;
	border-left: 1px solid black;
}
.itemTableEffect {
	background-color: #1c1c1c;
	border-left: 1px solid black;
	width: 326px;
	height: 100%;
}
.itemTableIcon1 img,.itemTableIcon2 img,.itemTableIcon3 img,.itemTableIcon4 img,.itemTableIcon5 img {
	margin: 4px;
	width: 60px;
	height: 60px;
	object-fit: contain;
}
.itemTableIcon1 img {
	border: 1px solid #DEE3DE;
}
.itemTableIcon2 img {
	border: 1px solid #7BDF00;
}
.itemTableIcon3 img {
	border: 1px solid #2955FF;
}
.itemTableIcon4 img {
	border: 1px solid #8408EF;
}
.itemTableIcon5 img {
	border: 1px solid #FBBA37;
}
.champStatsTableColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
	margin: 1px;
	width: 850px;
	font-size: 0.9em;
	margin-top: 1px;
	margin-bottom: 1px;
}
.champStatsTableRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
	height: 25px;
	background-color: #141414;
	border: 1px solid black;
	margin: 2px;
}
.champStatsTableInfoHeader {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 95px;
	height: 100%;
	margin: 0px;
	font-size: 1.1em;
}
.champStatsTableInfo,.champStatsTableInfoSmall {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 250px;
	height: 100%;
	margin: 0px;
	background-color: #1c1c1c;
	border-left: 1px solid black;
}
.champStatsTableInfo {
	border-right: 1px solid black;
}
.champStatsTableStatHeader,.champStatsTableStats,.champStatsTableStatsHeader,.champStatsTableTrials,.champStatsTableTrialsHeader,.champStatsTablePatrons,.champStatsTablePatronsHeader {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	margin: 0px;
}
.champStatsTableStatsHeader,.champStatsTableTrialsHeader,.champStatsTablePatronsHeader {
	font-size: 1.1em;
}
.champStatsTableStatHeader {
	justify-content: flex-end;
	width: 110px;
	font-size: 1.1em;
}
.champStatsTableStats,.champStatsTableStatsHeader {
	width: 120px;
	background-color: #1c1c1c;
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.champStatsTableTrials,.champStatsTableTrialsHeader {
	width: 115px;
}
.champStatsTablePatrons,.champStatsTablePatronsHeader {
	width: 130px;
	background-color: #1c1c1c;
	border-left: 1px solid black;
}
.indexChampionTableColumn {
	display: flex;
	flex-direction: column;
	max-width: 848px;
	min-width: 498px;
	margin-top: -10px;
	margin-bottom: -5px;
}
.indexChampionTableRow,.indexChampionTableRowNoHover {
	margin: 8px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	border: 1px solid black;
	height: 90px;
	background-color: #141414;
}
.indexChampionTableRow:hover {
	border: 1px solid #FFEB9B;
	background-color: #000000;
}
.indexChampionTableIcon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 95px;
	height: 100%;
}
.indexChampionTableIcon img {
	margin: 5px;
	width: 85px;
}
.indexChampionTableInfo {
	display: flex;
	flex-direction: column;
	max-width: 747px;
	height: 100%;
}
.indexChampionTableEvent {
	margin: 8px;
	margin-left: 25px;
	height: 50%;
	width: 100%;
}
.indexChampionTableChampion {
	margin: 8px;
	height: 50%;
	width: 100%;
	display: flex;
	align-items: center;
}
.indexChampionTableNoLink {
	color: #F0E7D5;
}
.formationBorder {
	display: flex;
	height: fit-content;
	width: fit-content;
	padding: 20px;
	border: 1px solid black;
	background-color: #1a1a1a;
}
.championImagesColumn {
	display: flex;
	flex-direction: column;
	width: fit-content;
}
.championImagesRow {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	margin: 5px;
	margin-bottom: -5px;
}
.championImagesPortrait,.championImagesChests {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: fit-content;
	padding: 20px;
	padding-bottom: 10px;
	border: 1px solid black;
	background-color: #181918;
	margin: 5px;
}
.championImagesPortrait {
	width: 100%;
}
.championImagesChests {
	width: 50%;
}
.championImagesChests img {
	width: 150px;
	height: 150px;
	object-fit: contain;
}
.championImagesPortrait img,.championImagesChests img {
	margin-bottom: 5px;
}
.contentDropsTableColumn {
	display: flex;
	flex-direction: column;
	max-width: 848px;
}
.contentDropsTableRow,.contentDropsTableRowHeader {
	display: flex;
	flex-direction: row;
	width: fit-content;
	height: 76px;
	background-color: #141414;
	margin: 5px;
	border: 1px solid black;
}
.contentDropsTableRowHeader {
	border-bottom: 4px ridge black;
	height: 44px;
}
.contentDropsTableRow:hover {
	border: 1px solid #FFEB9B;
	background-color: #000000;
}
.contentDropsTableIcons,.contentDropsTableCampaign,.contentDropsTableAdventure,.contentDropsTableType {
	width: 100px;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.contentDropsTableIcons {
	width: 106px;
}
.contentDropsTableCampaign {
	width: 150px;
}
.contentDropsTableAdventure {
	width: 348px;
	background-color: #1a1a1a;
	border-right: 1px solid black;
	border-left: 1px solid black;
}
.contentDropsTableType {
	width: 110px;
}
.contentDropsTableIcons img {
	margin: 4px;
	margin-left: 6px;
}
.emergenceShopTableRow {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 850px;
	min-width: 350px;
	font-size: 0.9em;
}
.emergenceShopTableItem {
	display: flex;
	flex-direction: row;
	width: 260px;
	padding: 5px;
	margin: 5px;
	border: 1px solid black;
	background-color: #1a1a1a;
}
.emergenceShopTableTextColumn {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.emergenceShopTableItem img {
	min-width: 64px;
	min-height: 64px;
	max-width: 64px;
	max-height: 64px;
	margin: 5px;
	object-fit: contain;
}
.emergenceShopFeatIcon1 img {
	border: 1px solid #DEE3DE;
}
.emergenceShopFeatIcon2 img {
	border: 1px solid #7BDF00;
}
.emergenceShopFeatIcon3 img {
	border: 1px solid #2955FF;
}
.emergenceShopFeatIcon4 img {
	border: 1px solid #8408EF;
}
.emergenceShopFeatIcon5 img {
	border: 1px solid #FBBA37;
}
.postSeasonTableColumn {
	display: flex;
	flex-direction: column;
	max-width: 598px;
	font-size: 0.9em;
}
.postSeasonTableRow {
	display: flex;
	flex-direction: column;
	margin: 5px;
}
.postSeasonTableRowInner {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	margin: 2px;
}
.postSeasonTableTitle,.postSeasonTableDateHeader,.postSeasonTableDate {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	flex-grow: 1;
	background-color: #141414;
	border: 1px solid black;
	margin-left: 2px;
	margin-right: 2px;
}
.postSeasonTableTitle {
	justify-content: flex-start;
	font-size: 1.4em;
	border-bottom: 4px ridge black;
}
.postSeasonTableTitle strong {
	margin-right: 4px;
}
.postSeasonTableTitle img {
	margin: 5px;
	margin-right: 10px;
}
.postSeasonTableDateHeader,.postSeasonTableDate {
	background-color: #1a1a1a;
}
.championPortraitsRow {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}
.championPortraitsImage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: fit-content;
	width: fit-content;
	padding: 10px;
	margin: 5px;
	border: 1px solid black;
	background-color: #181918;
}
.championPortraitsImage img {
	height: 190px;
	width: 190px;
	object-fit: scale-down;
	margin-bottom: 5px;
}