---
---

@import "{{ site.theme }}";

.wrapper {
	max-width: 850px;
}
section {
	max-width: 850px;
}
h1,h2,h3 {
	line-height: 2.0em;
	color: #F2F2F2;
}
h4,h5 {
	line-height: 1.7em;
}
h6 {
	line-height: 1.4em;
}
h3 {
	color: #CCCCCC;
}
summary {
	cursor: pointer;
	color: #FFCC00;
}
summary:hover {
	cursor: pointer;
	color: #FFEB9B;
}
code{
    padding: 0px;
    border-radius: 0px;
}